<!-- This page shows the details transactions of the user -->

{% extends "layout.html" %}

{% block content %}


<h1>Summary Page of {{ user.username }}</h1>

    <!-- <input type="submit" name="btn" class="btn btn-outline-info"  value="Expense">
    <input type="submit" name="btn" class="btn btn-outline-info" value="Income"> -->

	<table class="table table-striped table-bordered" >
		<thead>
			<tr>
				<th scope="col">Options</th>
				<th scope="col">Name</th>
				<th scope="col">Category</th>
				<th scope="col">Amount</th>
				<th scope="col" rowspan="1">Date</th>
			</tr>
		</thead>

		<tbody>

			{% for data in contentData %}

			<tr>
				<td rowspan="1">

					<a class="btn btn-outline-danger btn-sm" href="{{ url_for('deleteTransaction', transactionId=data.id, transactionType=data.type) }}">Delete</a>
					<input type="submit" name="btn" class="btn btn-outline-success btn-sm" value="View">

				</td>
				<!-- <th scope="row"></th> -->

				<td >{{ data.name }}</td>
				<td >{{ data.category }}</td>
				{% if data.type == "Expense" %}
					<td style="color:red; font-weight: bold">{{ data.amount }}</td>
				{% else %}
					<td style="color:darkgreen; font-weight: bold">{{ data.amount }}</td>
				{% endif %}

				<td >{{ data.date }}</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
{% endblock content %} 

{% block sidelink %} 

{% include "sidelink.html" %} 

{% endblock sidelink %}

